<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="script.js"></script>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="inv-title">
        <h1>Invoice #{{data["id"]}}</h1>
      </div>
      <div class="inv-header">
        <div>
          <h2>{{ storeData["name"] }}</h2>
          <ul>
            <li>{{ storeData["address"] }}</li>
            <li>{{ storeData["phone_number"] }}</li>
          </ul>
        </div>
        <div>
          <table>
            <tr>
              <th>Customer name :</th>
              <td>{{ data["customerName"] }}</td>
            </tr>
            <tr>
              <th>Contact info :</th>
              <td>
                +91-{{ data["customerPhoneNumber"] }} - {{ data["customerEmail"]
                }}
              </td>
            </tr>
            <tr>
              <th>Issue Date :</th>
              <td>{{ data["createdAt"] }}</td>
            </tr>
            <tr>
              <th>Total :</th>
              <td>{{ data["invoiceAmount"] }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="inv-body">
        <table>
          <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
          </thead>
          <tbody>
            {% for dict_item in data["items"] %}
            <tr>
              <td>
                <h4>{{ dict_item["product"] }}</h4>
              </td>
              <td>{{ dict_item["quantity"] }}</td>
              <td>{{ dict_item["price"] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="inv-footer">
        <div><!-- required --></div>
        <div>
          <table>
            {% for dict_item in data["otherDetails"] %} {% for key, value in
            dict_item.items() %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
            {% endfor %} {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
